@font-face {
  font-family: "Roboto";
  src: local("Roboto-Light"), url("./fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"), url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Archangelsk";
  src: local("Archangelsk"), url("./fonts/Archangelsk.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
:root {
  --primary-text-color: #000;
  --secondary-color: #777;
  --text-blue: #52bedc;
  --text-white: #fff;
  --text-yellow: #f8f200;
  --bg-yellow: #f8f200;
  --bg-black: #000;
  --mobile: 320px;
  --tablet: 1024px;
  --desctop: 1920px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.conteiner {
  padding: 0 12px;
  margin: 0 auto;
  max-width: 1920px;
  width: 90%;
}
@media (min-width: 1024px) {
  .conteiner {
    padding: 0 120px;
    width: 80%;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  max-width: 1920px;
  background-image: url(./images/cyberboy.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 760px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
@media (min-width: 400px) {
  .header {
    background-image: url(./images/header-bg-tablet.jpg);
    min-height: 1000px;
  }
}
@media (min-width: 1024px) {
  .header {
    background-image: url(./images/header-bg-desctop.jpg);
    min-height: 1000px;
  }
}
@media (min-width: 1920px) {
  .header {
    align-items: center;
  }
}

.nav {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 500px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.nav__icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 380px;
}
.nav__img {
  height: 50px;
  width: 200px;
}
@media (min-width: 1024px) {
  .nav__img {
    width: 296px;
  }
}

.square {
  max-width: 320px;
  padding: 30px 24px;
  background-color: var(--bg-yellow);
  margin-bottom: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-clip-path: polygon(15% 1%, 100% 0, 100% 85%, 88% 100%, 0% 100%, 0% 15%);
          clip-path: polygon(15% 1%, 100% 0, 100% 85%, 88% 100%, 0% 100%, 0% 15%);
}
@media (min-width: 780px) {
  .square {
    max-width: 640px;
    width: 100%;
    margin-right: 35px;
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .square {
    margin-right: 320px;
    padding: 70px;
  }
}
.square__title {
  font-family: "Archangelsk";
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: #000;
  margin-bottom: 25px;
}
@media (min-width: 780px) {
  .square__title {
    font-size: 62px;
    max-width: 624px;
  }
}
.square__btn {
  background: none;
  border: none;
  padding: 19px 50px;
  font-weight: 700;
  font-size: 20px;
  background-color: var(--bg-black);
  margin-left: 15px;
  cursor: pointer;
  transition: opacity, 0.5s;
}
@media (min-width: 780px) {
  .square__btn {
    font-size: 24px;
    padding: 20px 50px;
  }
}
.square__btn:hover {
  opacity: 0.8;
}
@media (min-width: 500px) {
  .square__btn {
    margin-bottom: 0;
    margin-right: 35px;
  }
}
.square__btn {
  color: var(--bg-yellow);
}

img {
  width: 25px;
  height: 25px;
}
@media (min-width: 1024px) {
  img {
    width: 30px;
    height: 30px;
  }
}/*# sourceMappingURL=style.css.map */